In [1]:
import pandas as pd
import numpy as np

In [5]:
exam_data = {'name': ['Anastasia', 'Dima', 'Katherine', 'James', 'Emily', 'Michael', 'Matthew', 'Laura', 'Kevin', 'Jonas'],

'score': [12.5, 9, 16.5, np.nan, 9, 20, 14.5, np.nan, 8, 19],

'attempts': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],

'qualify': ['yes', 'no', 'yes', 'no', 'no', 'yes', 'yes', 'no', 'no', 'yes']}
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

df = pd.DataFrame(exam_data, index=labels)
print(df_main)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
d      James    NaN         3      no
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
h      Laura    NaN         1      no
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [6]:
#Print the three first rows using the head() method.
print(df.head(3))

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes

In [7]:
#Delete rows with Nan values.
df.dropna(inplace=True)
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [8]:
#Extract the 'name' and 'score' columns from the DataFrame.
df[['name', 'score']]
print(df)

        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes

In [9]:
#Write a Pandas program to append a new row 'k' to the DataFrame with these values (name: "Suresh", score: 15.5, attempts: 1, qualify: "yes").
new_row = pd.DataFrame({
    'name': ['Suresh'],
    'score': [15.5],
    'attempts': [1],
    'qualify': ['yes']
}, index=['k'])

# Append the new row to the DataFrame
df = pd.concat([df, new_row])
print("\nUpdated DataFrame with new row 'k':")
print(df)

Updated DataFrame with new row 'k':
        name  score  attempts qualify
a  Anastasia   12.5         1     yes
b       Dima    9.0         3      no
c  Katherine   16.5         2     yes
e      Emily    9.0         2      no
f    Michael   20.0         3     yes
g    Matthew   14.5         1     yes
i      Kevin    8.0         2      no
j      Jonas   19.0         1     yes
k     Suresh   15.5         1     yes

In [10]:
#Write a Pandas program to delete the 'attempts' column from the DataFrame.
df.drop('attempts', axis=1, inplace=True)
print(df)

        name  score qualify
a  Anastasia   12.5     yes
b       Dima    9.0      no
c  Katherine   16.5     yes
e      Emily    9.0      no
f    Michael   20.0     yes
g    Matthew   14.5     yes
i      Kevin    8.0      no
j      Jonas   19.0     yes
k     Suresh   15.5     yes

In [11]:
#Add a new column "Success": if the score is higher than 10 we will have 1, else we will have 0.
df['Success'] = df['score'].apply(lambda x: 1 if x > 10 else 0)
print("\nUpdated DataFrame with 'Success' column:")
print(df)

Updated DataFrame with 'Success' column:
        name  score qualify  Success
a  Anastasia   12.5     yes        1
b       Dima    9.0      no        0
c  Katherine   16.5     yes        1
e      Emily    9.0      no        0
f    Michael   20.0     yes        1
g    Matthew   14.5     yes        1
i      Kevin    8.0      no        0
j      Jonas   19.0     yes        1
k     Suresh   15.5     yes        1

In [13]:
#After executing the final DataFrame, export it into a CSV file named "my_data".
df.to_csv('my_data.csv', index=True)